@media(min-width: 320px){
    div{
        background-color: black;
    }
}
@media(min-width: 480px){
    div{
        background-color: lightskyblue;
    }
}
@media(min-width: 600px){
    div{
        background-color: lightgreen;
    }
}
@media(min-width: 768px){
    div{
        background-color: lightyellow;
    }
}
@media(min-width: 800px){
    div{
        background-color: brown;
    }
}
@media(min-width: 1024px){
    div{
        background-color: darkblue;
    }
}
@media(min-width: 1280px){
    div{
        background-color: darkgreen;
    }
}
@media(min-width: 1440px){
    div{
        background-color: darkred;
    }
}